<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.springframework.org/schema/beans"
      xmlns:context="http://www.springframework.org/schema/context"
      xmlns:mvc="http://www.springframework.org/schema/mvc"
      xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd
      http://www.springframework.org/schema/mvc
      http://www.springframework.org/schema/mvc/spring-mvc.xsd">
      
    <!-- 是用于激活那些已经在spring容器里注册过的bean（无论是通过xml的方式还是通过package sanning的方式）上面的注解。 -->
    <context:annotation-config/>
    
    <!-- DispatcherServlet上下文，只搜索@Controller标注的类，不搜索其他标注的类 -->
    <context:component-scan base-package="com.aring">
         <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    	 <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service" />
    </context:component-scan>
    
    <!-- 让DispatcherServlet启用基于annotation的HandlerMapping-->
    <bean  class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />
    
    <!-- 配置视图解析器  -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
        <property name="prefix" value="/WEB-INF/page/"></property><!-- 资源路径 -->
        <property name="suffix" value=".jsp"></property> <!-- 资源名后缀 -->
    </bean>
    
    <!-- 配置静态资源，直接映射到对应的文件夹，DispatcherServlet 不处理 -->
	<mvc:resources mapping="/static/**" location="/WEB-INF/" />
	    
    <mvc:annotation-driven	content-negotiation-manager="contentNegotiationManager"/>
	<bean id="contentNegotiationManager"
		class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
		<property name="favorPathExtension" value="false" />
		<property name="favorParameter" value="false" />
		<property name="ignoreAcceptHeader" value="false" />
		<property name="mediaTypes">
			<value>
				atom=application/atom+xml
				html=text/html
				json=application/json
				*=*/*
			</value>
		</property>
	</bean>
	
	<!-- 配置文件上传，如果没有使用文件上传可以不用配置，当然如果不配，那么配置文件中也不必引入上传组件包 -->
	<!-- <bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		默认编码
		<property name="defaultEncoding" value="utf-8" />
		文件大小最大值
		<property name="maxUploadSize" value="10485760000" />
		内存中的最大值
		<property name="maxInMemorySize" value="40960" />
	</bean> -->
	
</beans> 