body{
    margin: auto 0px;
    /*background-color: rgba(248, 154, 13,1);*/
    background-color: rgba(0, 0, 0,1);
    color: white;
    min-width: 1349px;
}

ul{
    padding: 0px 0px;
    margin: 0px;
}

li{
    list-style: none;
}

.nav{
    padding: 5px 0px 5px 0px;
    height: 60px;
    width: 100%;
    line-height: 60px;
    position: fixed;
    top: 0;
}

.nav ul{
    display: inline;    
}
.nav li{
    float: left;
    margin: 0px 10px;
    font-size: 1.6em;
    font-weight: 700;
}

.nav-right{
    height: 60px;
    float: right;
    margin-right: 40px;
}

.nav-right li{
   padding: 5px 10px;
}

.line{
    background-color: white;
    height: 3px;
    position: fixed;
    top: 67px;
}

.content{
    margin-top: 65px;
    
}

.content table{
    width: 100%;
}


.content td{
    float: left;
    height: 200px;
    width: 31.1%;
    margin: 10px 1%;
    background-color: rgba(255,255,255,0.2);
}

.movie-img{
    float: left;
}

.movie-desc{
    float: left;
}


.movie-desc li{
    margin:10px 0px 0px 10px;
    font-weight: 600;
}

.movie-title{
    font-size: 1.3em;
}

.movie-GT{
   float: right;
   padding: 20px;
}

.movie-GT a{
   display: block;
   padding: 10px 15px;
   text-decoration: none;
   color: white;
   background-color: rgba(248, 163, 13, 1);
}


.movie-content{
    width: 80%;
    margin: 80px 10% 10px 10%;
    float: left;
    background-color: rgba(255,255,255,0.2);
}

.movie-content div{
    float: left;
}

.movie-up{
    width: 100%;
    height: 400px;
}

.movie-left{
    width: 30%;
    height: 400px;
}

.movie-mid{
    width: 50%;
    height: 400px;
}

.movie-right{
    width: 20%;
    margin-top: 200px;
    height: 200px;
    font-weight: 600;
    line-height: 50px;
    font-size: 20px;
}

.movie-left img{
    display: block;
    margin: 10px auto;
}

.movie-mid li{
    margin:10px 0px 0px 10px;
    font-weight: 600;
}

.movie-right div{
    width: 100%;
}

.movie-right div a{
   display: block;
   margin: 1px 10px 10px 0px;
   text-decoration: none;
   color: white;
   text-align: center;
   background-color: rgba(248, 163, 13, 1); 
}

.movie-down{
    width: 100%;
    padding: 0px 20px;
}

.movie-down p{
    text-indent:2em;
    font-weight: 600;
    line-height: 30px;
    padding-right: 40px;
}

.movie-down img{
   display: block;
   margin: 20px 20%;
}



.footer{
    float: left;
    width: 100%;
    border-top: 1px solid white;
    margin: 0px auto;
    height: 50px;
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
    line-height: 50px;
}

